body {
	background-color: #000;
}

.splash {
	position: absolute;
	width: 0;
	height: 0;
	border-radius: 200%;
	opacity: .20;
}

#splash-first {
	box-shadow: 0 0 195vmax 65vmax #0f0f3f;
	animation: splash-first-movement 7s 0s ease-in-out infinite;
}

#splash-second {
	box-shadow: 0 0 195vmax 65vmax #5e1d73;
	animation: splash-second-movement 11s 0s ease-in-out infinite;
}

#splash-third {
	box-shadow: 0 0 195vmax 65vmax #007d7d;
	animation: splash-third-movement 17s 0s ease-in-out infinite;
}

@keyframes splash-first-movement {
	0% {
		top: 0;
		left: 70%;
	}
	25% {
		left: 15%;
	}
	50% {
		top: 100%;
	}
	75% {
		left: 85%;
	}
	100% {
		top: 0;
		left: 50%;
	}
}

@keyframes splash-second-movement {
	0% {
		top: 50%;
		left: 85%;
	}
	25% {
		top:  100%;
	}
	50% {
		left: 15%;
	}
	75% {
		top: 0;
	}
	100% {
		top: 50%;
		left: 85%;
	}
}

@keyframes splash-third-movement {
	0% {
		top: 100%;
		left: 30%;
	}
	25% {
		left: 85%;
	}
	50% {
		top: 0;
	}
	75% {
		left: 15%;
	}
	100% {
		top: 100%;
		left: 50%;
	}
}

.board {
	width: 600px;
	height: 600px;

	border: 1px solid red;
}

.cell {
	vertical-align: top;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin: 0;
	border: 1px solid green;
	box-sizing: border-box;
}

.cell input {
	background-color: transparent;
	border: none;
	width: 90%;
	height: 90%;
	color: white
}

.current-cell {
	border: 1px solid yellow;
}